.menu{
    display: flex;
   
    gap: 2.3em;
    height: 94vh;
    padding:20px;

    
    
}

.logo{
    height: 20px;
    text-align: center;
    padding: 10px;
    color: #050420;
    align-items: center;
    display: flex;
    gap:10px;
    font-size: small;
    


}




.logo-icon{
    font-size: 1.4rem;
}
